<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>Admin Dashboard</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/assets/img/favicon.png"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="/assets/css/feathericon.min.css" />

    <link rel="stylesheet" href="/assets/plugins/morris/morris.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/style2.css" />
  </head>

  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <% for(const key of activeAdmin) { %>

      <!-- Header -->
      <div class="header">
        <!-- Logo -->
        <div class="header-left">
          <a href="/" class="logo">
            <img src="/assets/img/logo.png" alt="Logo" />
          </a>
          <a href="/" class="logo logo-small">
            <img
              src="/assets/img/logo-small.png"
              alt="Logo"
              width="30"
              height="30"
            />
          </a>
        </div>
        <!-- /Logo -->

        <a href="javascript:void(0);" id="toggle_btn">
          <i class="fe fe-text-align-left"></i>
        </a>

        <!-- Mobile Menu Toggle -->
        <a class="mobile_btn" id="mobile_btn">
          <i class="fa fa-bars"></i>
        </a>
        <!-- /Mobile Menu Toggle -->

        <!-- Header Right Menu (myprofile) -->
        <ul class="nav user-menu">
          <!-- User Menu -->
          <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <span class="user-img"
                ><img
                  class="rounded-circle"
                  src="/assets/img/profiles/Admin.jpg"
                  width="31"
                  alt="Supun Bandara"
              /></span>
            </a>
            <div class="dropdown-menu">
              <div class="user-header">
                <div class="avatar avatar-sm">
                  <img
                    src="/assets/img/profiles/Admin.jpg"
                    alt="User Image"
                    class="avatar-img rounded-circle"
                  />
                </div>
                <div class="user-text">
                  <h6>Supun Bandara</h6>
                  <p class="text-muted mb-0">Administrator</p>
                </div>
              </div>
              <a
                class="dropdown-item"
                href="/admin/profile/<%= key.dynamicRouteCode %>"
                >My Profile</a
              >
              <a class="dropdown-item" href="/login">Logout</a>
            </div>
          </li>
          <!-- /User Menu -->
        </ul>
        <!-- /Header Right Menu -->
      </div>
      <!-- /Header -->

      <!-- left Sidebar - main(blue) -->
      <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
          <div id="sidebar-menu" class="sidebar-menu">
            <ul>
              <li class="menu-title">
                <span>Main</span>
              </li>
              <li class="active">
                <a href="/admin/<%= key.dynamicRouteCode %>"
                  ><i class="fe fe-home"></i> <span>Dashboard</span></a
                >
              </li>
              <li>
                <a href="/admin/appointments/<%= key.dynamicRouteCode %>"
                  ><i class="fe fe-layout"></i> <span>Appointments</span></a
                >
              </li>
              <li>
                <a href="/admin/doctors/<%= key.dynamicRouteCode %>"
                  ><i class="fe fe-user-plus"></i> <span>Add Doctors</span></a
                >
              </li>
              <li>
                <a href="/admin/patientList/<%= key.dynamicRouteCode %>"
                  ><i class="fe fe-user"></i> <span>Patients List</span></a
                >
              </li>
              <li>
                <a href="/admin/doctorList/<%= key.dynamicRouteCode %>"
                  ><i class="fe fe-user"></i> <span>Doctors List</span></a
                >
              </li>
              <li>
                <a href="/admin/reviews/<%= key.dynamicRouteCode %>"
                  ><i class="fe fe-star-o"></i> <span>Reviews</span></a
                >
              </li>
              <li>
                <a href="/admin/profile/<%= key.dynamicRouteCode %>"
                  ><i class="fe fe-user-plus"></i> <span>Profile</span></a
                >
              </li>
              <li>
                <a href="/login"
                  ><i class="fe fe-logout"></i> <span>Logout</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Sidebar -->

      <!-- Page Wrapper -->
      <div class="page-wrapper">
        <div class="content container-fluid">
          <!-- Page Header (breadcrumb)-->
          <div class="page-header">
            <div class="row">
              <div class="col-sm-12">
                <h3 class="page-title">Welcome Admin!</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active">Dashboard</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /Page Header -->

          <!-- status tiles (small 4)-->
          <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-body">
                  <div class="dash-widget-header">
                    <span class="dash-widget-icon text-primary border-primary">
                      <img
                        src="\assets\img\adminDashboard\doctor icon.png"
                        alt="doctor icon"
                        width="50"
                      />
                    </span>
                    <div class="dash-count">
                      <h3>26</h3>
                    </div>
                  </div>
                  <div class="dash-widget-info">
                    <h6 class="text-muted">Doctors</h6>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-primary w-50"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-body">
                  <div class="dash-widget-header">
                    <span class="dash-widget-icon text-success">
                      <img
                        src="\assets\img\adminDashboard\patient icon.png"
                        alt="patient icon"
                        width="50"
                      />
                    </span>
                    <div class="dash-count">
                      <h3>120</h3>
                    </div>
                  </div>
                  <div class="dash-widget-info">
                    <h6 class="text-muted">Patients</h6>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-success w-50"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-body">
                  <div class="dash-widget-header">
                    <span class="dash-widget-icon text-danger border-danger">
                      <img
                        src="\assets\img\adminDashboard\appointment icon.png"
                        alt="appointment icon"
                        width="50"
                      />
                    </span>
                    <div class="dash-count">
                      <h3>45</h3>
                    </div>
                  </div>
                  <div class="dash-widget-info">
                    <h6 class="text-muted">Appointment</h6>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-danger w-50"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
              <div class="card">
                <div class="card-body">
                  <div class="dash-widget-header">
                    <span class="dash-widget-icon text-warning border-warning">
                      <img
                        src="\assets\img\adminDashboard\reviews icon.png"
                        alt="reviews icon"
                        width="50"
                      />
                    </span>
                    <div class="dash-count">
                      <h3>13</h3>
                    </div>
                  </div>
                  <div class="dash-widget-info">
                    <h6 class="text-muted">Reviews</h6>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-warning w-50"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /status tiles -->

          <div class="row">
            <!-- Doctors List -->
            <div class="col-md-6 d-flex">
              <div class="card card-table flex-fill">
                <div class="card-header">
                  <h4 class="card-title">Doctors List</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                      <thead>
                        <tr>
                          <th>Doctor Name</th>
                          <th>Speciality</th>
                          <th>Reviews</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <h2 class="table-avatar">
                              <a
                                href="profile.html"
                                class="avatar avatar-sm mr-2"
                                ><img
                                  class="avatar-img rounded-circle"
                                  src="/assets/img/doctors/female.jpg"
                                  alt="User Image"
                              /></a>
                              <a href="profile.html">Dr. Isuri Perera</a>
                            </h2>
                          </td>
                          <td>Urology</td>
                          <td>
                            <i class="fe fe-star text-warning"></i>
                            <i class="fe fe-star text-warning"></i>
                            <i class="fe fe-star text-warning"></i>
                            <i class="fe fe-star text-warning"></i>
                            <i class="fe fe-star-o text-secondary"></i>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a
                              href="/admin/doctorList/<%= key.dynamicRouteCode %>"
                            >
                              <button
                                class="btn btn-primary"
                                data-toggle="modal"
                                data-target="patientList"
                              >
                                view more
                              </button>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Doctors List -->

            <!-- Patients List -->
            <div class="col-md-6 d-flex">
              <div class="card card-table flex-fill">
                <div class="card-header">
                  <h4 class="card-title">Patients List</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                      <thead>
                        <tr>
                          <th>Patient Name</th>
                          <th>Phone</th>
                          <th>Last Visit</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <h2 class="table-avatar">
                              <a
                                href="profile.html"
                                class="avatar avatar-sm mr-2"
                                ><img
                                  class="avatar-img rounded-circle"
                                  src="/assets/img/patients/male.jpg"
                                  alt="User Image"
                              /></a>
                              <a href="profile.html"> Pasindu Bandara</a>
                            </h2>
                          </td>
                          <td>+94 7623457--</td>
                          <td>21 Sep 2025</td>
                        </tr>
                        <tr>
                          <td>
                            <a
                              href="/admin/patientList/<%= key.dynamicRouteCode %>"
                            >
                              <button
                                class="btn btn-primary"
                                data-toggle="modal"
                                data-target="patientList"
                              >
                                view more
                              </button>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- /Feed Activity -->
            </div>
            <!-- /Patients List -->
          </div>

          <!-- Appointment List -->
          <div class="row">
            <div class="col-md-12">
              <div class="card card-table">
                <div class="card-header">
                  <h4 class="card-title">Appointment List</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                      <thead>
                        <tr>
                          <th>Doctor Name</th>
                          <th>Speciality</th>
                          <th>Patient Name</th>
                          <th>Apointment Time</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <h2 class="table-avatar">
                              <a
                                href="profile.html"
                                class="avatar avatar-sm mr-2"
                                ><img
                                  class="avatar-img rounded-circle"
                                  src="/assets/img/doctors/female.jpg"
                                  alt="User Image"
                              /></a>
                              <a href="profile.html">Dr. Isuri Perera</a>
                            </h2>
                          </td>
                          <td>Urology</td>
                          <td>
                            <h2 class="table-avatar">
                              <a
                                href="profile.html"
                                class="avatar avatar-sm mr-2"
                                ><img
                                  class="avatar-img rounded-circle"
                                  src="/assets/img/patients/male.jpg"
                                  alt="User Image"
                              /></a>
                              <a href="profile.html"> Pasindu Bandara</a>
                            </h2>
                          </td>
                          <td>
                            7 Nov 2025<span class="text-primary d-block"
                              >1.00 PM - 1.20 PM</span
                            >
                          </td>
                          <td>
                            <div class="status-toggle">
                              <input
                                type="checkbox"
                                id="status_4"
                                class="check"
                                checked
                              />
                              <label for="status_4" class="checktoggle"
                                >checkbox</label
                              >
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a
                              href="/admin/appointments/<%= key.dynamicRouteCode %>"
                            >
                              <button
                                class="btn btn-primary"
                                data-toggle="modal"
                                data-target="appointments"
                              >
                                view more
                              </button>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Appointment List -->
        </div>
      </div>

      <% } %>
      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="/assets/plugins/morris/morris.min.js"></script>
    <script src="/assets/js/chart.morris.js"></script>

    <!-- Custom JS -->
    <script src="/assets/js/script2.js"></script>
  </body>
</html>
