<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <title>Doctor Approvel</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="/assets/css/feathericon.min.css" />

    <link rel="stylesheet" href="/assets/plugins/morris/morris.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/style2.css" />
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/styles/Admin/Preloader/ApprovingPreLoader.css">
    
    <!-- Main JS -->
    <script src="/scripts/Admin/Script_ApproveDoctor.js" defer></script>
    <script src="/scripts/Admin/Script_RejectDoctor.js" defer></script>
    <script src="/scripts/Admin/Script_GetDoctorList.js" defer></script>
    
</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">
        
        <% for(const key of activeAdmin)  { %>
        <!-- Header -->
        <div class="header">
            <!-- Logo -->
            <div class="header-left">
                <a href="/" class="logo">
                    <img src="/assets/img/logo.png" alt="Logo" />
                </a>
                <a href="/" class="logo logo-small">
                    <img src="/assets/img/logo-small.png" alt="Logo" width="30" height="30" />
                </a>
            </div>
            <!-- /Logo -->

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>

            <!-- Mobile Menu Toggle -->
            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>
            <!-- /Mobile Menu Toggle -->

            <!-- Header Right Menu -->
            <ul class="nav user-menu">
                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="/assets/img/profiles/avatar-01.jpg"
                                width="31" alt="Ryan Taylor" /></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="/assets/img/profiles/avatar-01.jpg" alt="User Image"
                                    class="avatar-img rounded-circle" />
                            </div>
                            <div class="user-text">
                                <h6>Ryan Taylor</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="/admin/profile/<%= key.dynamicRouteCode %>">My Profile</a>
                        <a class="dropdown-item" href="/login">Logout</a>
                    </div>
                </li>
                <!-- /User Menu -->
            </ul>
            <!-- /Header Right Menu -->
        </div>
        <!-- /Header -->

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main</span>
                        </li>
                        <li>
                            <a href="/admin/<%= key.dynamicRouteCode %>"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="/admin/appointments/<%= key.dynamicRouteCode %>"><i class="fe fe-layout"></i> <span>Appointments</span></a>
                        </li>
                        <li>
                            <a href="/admin/doctors/<%= key.dynamicRouteCode %>"
                              ><i class="fe fe-user-plus"></i> <span>Add Doctors</span></a
                            >
                          </li>
                          <li class="active">
                            <a href="#"
                              ><i class="fe fe-user"></i> <span>Patients List</span></a
                            >
                          </li>
                          <li>
                            <a href="/admin/doctorList/<%= key.dynamicRouteCode %>"
                              ><i class="fe fe-user"></i> <span>Doctors List</span></a
                            >
                          </li>
                        <li>
                            <a href="/admin/reviews/<%= key.dynamicRouteCode %>"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
                        </li>
                        <li>
                            <a href="/admin/profile/<%= key.dynamicRouteCode %>"><i class="fe fe-user-plus"></i> <span>Profile</span></a>
                        </li>
                        <li>
                            <a href="/login"><i class="fe fe-logout"></i> <span>Logout</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->

        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="col-md-7 col-lg-8 col-xl-9">

                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="mb-4">Pending Approvels</h4>
                            <div class="appointment-tab">

                                <div class="tab-content">

                                    <!-- Upcoming Appointment Tab -->
                                    <div class="tab-pane show active" id="upcoming-appointments">
                                        <div class="card card-table mb-0">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-center mb-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Doctor Name</th>
                                                                <th>Apply Date</th>
                                                                <th>SLMC Number</th>
                                                                <th>Approve/Reject</th>
                                                                
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody id="approveListTable">

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Upcoming Appointment Tab -->

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <% } %>
                <!-- /Page Wrapper -->
            </div>
            <!-- /Main Wrapper -->

            <!-- jQuery -->
            <script src="/assets/js/jquery-3.2.1.min.js"></script>

            <!-- Bootstrap Core JS -->
            <script src="/assets/js/popper.min.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>

            <!-- Slimscroll JS -->
            <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

            <script src="/assets/plugins/raphael/raphael.min.js"></script>
            <script src="/assets/plugins/morris/morris.min.js"></script>
            <script src="/assets/js/chart.morris.js"></script>

            <!-- Custom JS -->
            <script src="/assets/js/script2.js"></script>
</body>

</html>