<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>All Appointments</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="/assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />

     <!-- JS -->
     <script src="/scripts/Doctor/getAppointmentdetails.js" defer></script>
     <script src="/scripts/Doctor/acceptApp.js" defer></script>
     <script src="/scripts/Doctor/rejectApp.js" defer></script>

  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->

      <header class="header">
        <nav class="navbar navbar-expand-lg header-nav">
          <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
              <span class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </a>
            <a href="" class="navbar-brand logo">
              <img src="/assets/img/logo.png" class="img-fluid" alt="Logo" />
            </a>
          </div>
          <div class="main-menu-wrapper">
            <div class="menu-header">
              <a href="index-2.html" class="menu-logo">
                <img src="/assets/img/logo.png" class="img-fluid" alt="Logo" />
              </a>
              <a id="menu_close" class="menu-close" href="javascript:void(0);">
                <i class="fas fa-times"></i>
              </a>
            </div>

          </div>
          <ul class="nav header-navbar-rht">
            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow logged-item">
              <a
                href="#"
                class="dropdown-toggle nav-link"
                data-toggle="dropdown"
              >
                <span class="user-img">
                  <img
                    class="rounded-circle"
                    src="<%= key.profilePicture %>"
                    width="31"
                    alt="docPic"
                  />
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="user-header">
                  <div class="avatar avatar-sm">
                    <img
                      src="<%= key.profilePicture %>"
                      alt="User Image"
                      class="avatar-img rounded-circle"
                    />
                  </div>
                  <div class="user-text">
                    <h6><%= key.name %></h6>
                    <p class="text-muted mb-0">Doctor</p>
                  </div>
                </div>
                <a class="dropdown-item" href="/doctor/<%= key.userID %>">Dashboard</a>
                <a class="dropdown-item" href="/doctor/profile/<%= key.userID %>">Profile Settings</a>
                <a class="dropdown-item" href="/login">Logout</a>
              </div>
            </li>
            <!-- /User Menu -->
          </ul>
        </nav>
      </header>
      <!-- /Header -->
      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
              <!-- Profile Sidebar -->
              <div class="profile-sidebar">
                <div class="widget-profile pro-widget-content">
                  <div class="profile-info-widget">
                    <a class="booking-doc-img">
                      <img
                        src="<%= key.profilePicture %>"
                        alt="User Image"
                      />
                    </a>
                    <div class="profile-det-info">
                      <h3>Dr. <%= key.name %></h3>

                      <div class="patient-details">
                        <h5 class="mb-0"><%= key.specialization.specialist %></h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dashboard-widget">
                  <nav class="dashboard-menu">
                    <ul>
                      <li>
                        <a href="/doctor/<%= key.userID %>">
                          <i class="fas fa-columns"></i>
                          <span>Dashboard</span>
                        </a>
                      </li>
                      <li class="active">
                        <a href="/doctor/docAppointments/<%= key.userID %>">
                          <i class="fas fa-calendar-check"></i>
                          <span>Appointments</span>
                        </a>
                      </li>

                      <li>
                        <a href="/doctor/docReviews/<%= key.userID %>">
                          <i class="fas fa-star"></i>
                          <span>Doctor Reviews</span>
                        </a>
                      </li>
                      <li>
                        <a href="/doctor/profile/<%= key.userID %>">
                          <i class="fas fa-user-cog"></i>
                          <span>Profile Settings</span>
                        </a>
                      </li>

                      <li>
                        <a href="/doctor/password/<%= key.userID %>">
                          <i class="fas fa-lock"></i>
                          <span>Change Password</span>
                        </a>
                      </li>
                      <li>
                        <a href="/login">
                          <i class="fas fa-sign-out-alt"></i>
                          <span>Logout</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- /Profile Sidebar -->
            </div>

            <div class="col-md-7 col-lg-8 col-xl-9">
              <div class="appointments">
                <!-- Appointment List -->

                <% for(const oneAppointment of totalAppointments) { %>

                <div class="appointment-list">
                  <div class="profile-info-widget">
                    <a href="patient-profile.html" class="booking-doc-img">
                      <img
                        src="<%= oneAppointment.patinetDP %>"
                        alt="User Image"
                      />
                    </a>
                    <div class="profile-det-info">
                      <h3><a href="patient-profile.html"><%= oneAppointment.patientName %></a></h3>
                      <div class="patient-details">
                        <h5>
                          <i class="far fa-clock"></i> <%= oneAppointment.appoitmentDate %>, <%= oneAppointment.appoitmentTime %>
                        </h5>
                        <h5>
                          <i class="fas fa-check"></i>  <%= oneAppointment.status %>
                        </h5>
                        
                      </div>
                    </div>
                  </div>
                  <div class="appointment-action">
                    <a
                      
                      data-appointid="<%= oneAppointment.appoitmentID %>"
                      class="btn btn-sm bg-info-light viewModel"
                      data-toggle="modal"
                      data-target="#appt_details"
                    >
                      <i class="far fa-eye"></i> View
                    </a>
                    <a
                      
                      data-appointid="<%= oneAppointment.appoitmentID %>"
                      class="btn btn-sm bg-success-light accept"
                    >
                      <i class="fas fa-check"></i> Accept
                    </a>
                    <a
                      data-appointid="<%= oneAppointment.appoitmentID %>"
                      class="btn btn-sm bg-danger-light reject"
                    >
                      <i class="fas fa-times"></i> Cancel
                    </a>
                  </div>
                </div>

                <% } %>
            

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->

      <!-- Footer -->
      <footer class="footer">
        <!-- Footer Bottom -->
        <div class="footer-bottom">
          <div class="container-fluid">
            <!-- Copyright -->
            <div class="copyright">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="copyright-text">
                    <p class="mb-0"><a href="">MediMate</a></p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <!-- Copyright Menu -->
                  <div class="copyright-menu">
                    <ul class="policy-menu">
                      <li><a href="">Terms and Conditions</a></li>
                      <li><a href="">Policy</a></li>
                    </ul>
                  </div>
                  <!-- /Copyright Menu -->
                </div>
              </div>
            </div>
            <!-- /Copyright -->
          </div>
        </div>
        <!-- /Footer Bottom -->
      </footer>

      <div id="userID" style="display: none"><%= key.userID %></div>
      <!-- /Footer -->
    </div>
    <!-- /Main Wrapper -->

    <!-- Appointment Details Modal -->
    <div class="modal fade custom-modal" id="appt_details">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Appointment Details</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="info-details">
              <li>
                <div class="details-header">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="text">21 Oct 2019 10:00 AM</span>
                    </div>
                    <div class="col-md-6">
                      <div class="text-right">
                        <button
                          type="button"
                          class="btn bg-success-light btn-sm"
                          id="topup_status"
                        >
                          Completed
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <span class="title">Status:</span>
                <span class="text">Completed</span>
              </li>
              <li>
                <span class="title">Apply Date:</span>
                <span class="text">29 Jun 2019</span>
              </li>
              <li>
                <span class="title">Apply Time</span>
                <span class="text">$450</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /Appointment Details Modal -->

    <!-- jQuery -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Custom JS -->
    <script src="/assets/js/script.js"></script>
  </body>
</html>
