<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Profile</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="/assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
  
    <!-- Custom JS -->
     <script src="/scripts/Doctor/filepreview.js" defer></script>
  </head>
  <body>
    <!-- Main Wrapper -->

    <div class="main-wrapper">
      <% for(const key of currentDoctor) { %>

        <form action="/doctor/profile/<%= key.userID %>" method="POST" enctype="multipart/form-data">
      <!-- Header -->
      <header class="header" id="header">
        <nav class="navbar navbar-expand-lg header-nav">
          <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
              <span class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </a>
            <a href="" class="navbar-brand logo">
              <img src="/assets/img/logo.png" class="img-fluid" alt="Logo" />
            </a>
          </div>
          
          <ul class="nav header-navbar-rht">
            <li class="nav-item contact-item"></li>

            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow logged-item">
              <a
                href="#"
                class="dropdown-toggle nav-link"
                data-toggle="dropdown"
              >
                <span class="user-img">
                  <img
                    class="rounded-circle"
                    src="<%= key.profilePicture %>"
                    width="31"
                    alt="side profile picture"
                  />
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="user-header">
                  <div class="avatar avatar-sm">
                    <img
                      src="<%= key.profilePicture %>"
                      alt="User Image"
                      class="avatar-img rounded-circle"
                    />
                  </div>
                  <div class="user-text">
                    <h6><%= key.name %></h6>
                    <p class="text-muted mb-0">Doctor</p>
                  </div>
                </div>
                <a class="dropdown-item" href="/doctor/<%= key.userID %>">Dashboard</a>
                <a class="dropdown-item" href="/doctor/profile/<%= key.userID %>">Profile Settings</a>
                <a class="dropdown-item" href="/login">Logout</a>
              </div>
            </li>
            <!-- /User Menu -->
          </ul>

          <div id="progress-bar"></div>
        </nav>
      </header>
      <!-- /Header -->

      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
              <!-- Profile Sidebar -->
              <div class="profile-sidebar">
                <div class="widget-profile pro-widget-content">
                  <div class="profile-info-widget">
                    <a class="booking-doc-img">
                      <img
                        src="<%= key.profilePicture %>"
                        alt="UserImage"
                      />
                    </a>
                    <div class="profile-det-info">
                      <h3>Dr. <%= key.name %></h3>

                      <div class="patient-details">
                        <h5 class="mb-0"><%= key.Specialist %></h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dashboard-widget">
                  <nav class="dashboard-menu">
                    <ul>
                      <li>
                        <a href="/doctor/<%= key.userID %>">
                          <i class="fas fa-columns"></i>
                          <span>Dashboard</span>
                        </a>
                      </li>
                      <li>
                        <a href="/appointments">
                          <i class="fas fa-calendar-check"></i>
                          <span>Appointments</span>
                        </a>
                      </li>

                      <li>
                        <a href="/docReviews">
                          <i class="fas fa-star"></i>
                          <span>Reviews</span>
                        </a>
                      </li>
                      <li class="active">
                        <a href="/doctor/profile/<%= key.userID %>">
                          <i class="fas fa-user-cog"></i>
                          <span>Profile Settings</span>
                        </a>
                      </li>

                      <li>
                        <a href="/doctor/password/<%= key.userID %>">
                          <i class="fas fa-lock"></i>
                          <span>Change Password</span>
                        </a>
                      </li>
                      <li>
                        <a href="/login">
                          <i class="fas fa-sign-out-alt"></i>
                          <span>Logout</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
              <!-- /Profile Sidebar -->
            </div>

            <div class="col-md-7 col-lg-8 col-xl-9">
              <!-- Basic Information -->
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Basic Information</h4>
                  <div class="row form-row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="change-avatar">
                          <div class="profile-img">
                            <img
                              src="<%= key.profilePicture %>"
                              alt="User Image"
                              id="pickedImage"
                            />
                          </div>
                          <div class="upload-img">
                            <div class="change-photo-btn">
                              <span
                                ><i class="fa fa-upload"></i> Upload Photo</span
                              >
                              <input type="file" name="image" class="upload" id="picUpload"/>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label
                          >Doctor ID <span class="text-danger">*</span></label
                        >
                        <input type="text" value="<%= key.doctorID %>" class="form-control" readonly required/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Email <span class="text-danger">*</span></label>
                        <input type="email" value="<%= key.email %>" class="form-control" readonly required/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label
                          >First Name <span class="text-danger">*</span></label
                        >
                        <input type="text" value="<%= key.personalDetails.firstName %>" class="form-control" name="firstName" required/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label
                          >Last Name <span class="text-danger">*</span></label
                        >
                        <input type="text" value="<%= key.personalDetails.lastName %>" class="form-control" name="lastName" required/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Phone Number<span class="text-danger">*</span></label>
                        <input type="number" value="<%= key.personalDetails.phoneNumber %>" class="form-control" name="phoneNumber" required/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Gender<span class="text-danger">*</span></label>
                        <select class="form-control select" name="gender" required>
                          <option value="" disabled <%= !key.personalDetails.gender ? 'selected' : '' %>>Select</option>
                          <option value="Male" <%= key.personalDetails.gender === 'Male' ? 'selected' : '' %>>Male</option>
                          <option value="Female" <%= key.personalDetails.gender === 'Female' ? 'selected' : '' %>>Female</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group mb-0">
                        <label>Date of Birth<span class="text-danger">*</span></label>
                        <input type="date" value="<%= key.personalDetails.DOB %>" class="form-control" name="dob" required/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Basic Information -->

              <!-- About Me -->
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">About Me</h4>
                  <div class="form-group mb-0">
                    <label>Biography</label>
                    <textarea class="form-control" rows="5" name="bio"><%= key.personalDetails.bio %></textarea>
                  </div>
                </div>
              </div>
              <!-- /About Me -->

              <!-- Contact Details -->
              <div class="card contact-card">
                <div class="card-body">
                  <h4 class="card-title">Contact Details</h4>
                  <div class="row form-row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Address Line 1</label>
                        <input type="text" value="<%= key.address.adressLine1 %>" name="adressLine1" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Address Line 2</label>
                        <input type="text" value="<%= key.address.adressLine2 %>" name="adressLine2" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">City<span class="text-danger">*</span></label>
                        <input type="text" value="<%= key.address.city %>" name="city" class="form-control" required />
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">State / Province</label>
                        <input type="text" value="<%= key.address.province %>" name="province" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Country<span class="text-danger">*</span></label>
                        <input type="text" value="<%= key.address.country %>" name="country" class="form-control" required/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Postal Code</label>
                        <input type="number" value="<%= key.address.postalCode %>" name="postalCode" class="form-control" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Contact Details -->

              <!-- Services and Specialization -->
              <div class="card services-card">
                <div class="card-body">
                  <h4 class="card-title">Services and Specialization</h4>
            
                  <div class="form-group mb-0">
                    <label>Specialization <span class="text-danger">*</span></label>
                    <input
                      class="input-tags form-control"
                      type="text"
                      value="<%= key.specialization.specialist %>"
                      data-role="tagsinput"
                      placeholder="Enter Specialization"
                      name="specialist"
                      id="specialist"
                      required
                    />
                    
                  </div>
                </div>
              </div>
              <!-- /Services and Specialization -->

              <!-- Education -->
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Education</h4>
                  <div class="education-info">
                    <div class="row form-row education-cont">
                      <div class="col-12 col-md-10 col-lg-11">
                        <div class="row form-row">
                          <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                              <label>Degree</label>
                              <input type="text" value="<%= key.education.degree %>" name="degree" class="form-control" />
                            </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                              <label>College/Institute</label>
                              <input type="text" value="<%= key.education.institute %>" name="institute" class="form-control" />
                            </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                              <label>Year of Completion</label>
                              <input type="number" value="<%= key.education.completion %>" name="completion" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Education -->

              <!-- Experience -->
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Experience</h4>
                  <div class="experience-info">
                    <div class="row form-row experience-cont">
                      <div class="col-12 col-md-10 col-lg-11">
                        <div class="row form-row">
                          <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                              <label>Hospital Name</label>
                              <input type="text" value="<%= key.experience.hospitalName %>" name="hospitalName" class="form-control" />
                            </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                              <label>From</label>
                              <input type="date" value="<%= key.experience.from %>" name="from" class="form-control" />
                            </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                              <label>To</label>
                              <input type="date" value="<%= key.experience.to %>" name="to" class="form-control" />
                            </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4">
                            <div class="form-group">
                              <label>Designation</label>
                              <input type="text" value="<%= key.experience.designation %>" name="designation" class="form-control" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /Experience -->

              <!-- Registrations -->
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Registrations</h4>
                  <div class="registrations-info">
                    <div class="row form-row reg-cont">
                      <div class="col-12 col-md-5">
                        <div class="form-group">
                          <label>SLMC Registration Number<span class="text-danger">*</span></label>
                          <input type="text" value="<%= key.slmcregi %>" class="form-control" readonly/>
                        </div>
                      </div>
                      <div class="col-12 col-md-5">
                        
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
              <!-- /Registrations -->

              <div class="submit-section submit-btn-bottom">
                <button type="submit" class="btn btn-primary submit-btn">
                  Save Changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->

      <footer class="footer">
        <!-- Footer Bottom -->
        <div class="footer-bottom">
          <div class="container-fluid">
            <!-- Copyright -->
            <div class="copyright">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="copyright-text">
                    <p class="mb-0"><a href="">MediMate</a></p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <!-- Copyright Menu -->
                  <div class="copyright-menu">
                    <ul class="policy-menu">
                      <li><a href="">Terms and Conditions</a></li>
                      <li><a href="">Policy</a></li>
                    </ul>
                  </div>
                  <!-- /Copyright Menu -->
                </div>
              </div>
            </div>
            <!-- /Copyright -->
          </div>
        </div>
        <!-- /Footer Bottom -->
      </footer>

    </form>

      <% } %>
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Custom JS -->
    <script src="/assets/js/script.js"></script>
  </body>
</html>
