<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Booking Success!</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="/assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css" />
    
    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/styles/patientDashboard.css" />

    	<!-- JS -->
	  <script src="/scripts/Patient/bookSuccess.js" defer></script>
    
  </head>
  <body>
    <!-- Main Wrapper -->

    
    <div class="main-wrapper">

      <% for(const key of currentAppointment)  { %>

      <!-- Header -->
      <header class="header" id="header">
        <nav class="navbar navbar-expand-lg header-nav">
          <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
              <span class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </a>
            <a href="" class="navbar-brand logo">
              <img src="/assets/img/logo.png" class="img-fluid" alt="Logo" />
            </a>
          </div>
          <div class="main-menu-wrapper">
            <div class="menu-header">
              <a href="" class="menu-logo">
                <img src="/assets/img/logo.png" class="img-fluid" alt="Logo" />
              </a>
              <a id="menu_close" class="menu-close" href="javascript:void(0);">
                <i class="fas fa-times"></i>
              </a>
            </div>
            <ul class="main-nav">
              <li class="login-link">
                <a href="login.html">Login / Signup</a>
              </li>
            </ul>
          </div>
          <ul class="nav header-navbar-rht">
            <li class="nav-item contact-item">
              
            </li>

            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow logged-item">
                <a
                  href="#"
                  class="dropdown-toggle nav-link"
                  data-toggle="dropdown"
                >
                  <span class="user-img">
                    <img
                      class="rounded-circle"
                      src="<%= key.patinetDP %>"
                      width="31"
                      alt="<%= key.patientName %>"
                    />
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <div class="user-header">
                    <div class="avatar avatar-sm">
                      <img
                        src="<%= key.patinetDP %>"
                        alt="<%= key.patientName %>"
                        class="avatar-img rounded-circle"
                      />
                    </div>
                    <div class="user-text">
                      <h6><%= key.patientName %></h6>
                      <p class="text-muted mb-0">Patient</p>
                    </div>
                  </div>
                  <a class="dropdown-item" href="/patient/<%= key.patinetID %>">Dashboard</a>
                  <a class="dropdown-item" href="/patient/profile/<%= key.patinetID %>">Profile Settings</a>
                  <a class="dropdown-item" href="/login">Logout</a>
                </div>
              </li>
              <!-- /User Menu -->
          </ul>

          <div id="progress-bar"></div>
        </nav>
      </header>
      <!-- /Header -->

      <!-- Page Content -->
			<div class="content">
				<div class="container-fluid">
                                            							<!-- Success Card -->
							<div class="card success-card">
								<div class="card-body">
									<div class="success-cont">
										<i class="fas fa-check"></i>
										<h3>Appointment booked Successfully!</h3>
										<p>Appointment booked with <strong>Dr. <%= key.doctorName %></strong><br> on <strong><%= key.appoitmentDate %></strong> at <strong><%= key.appoitmentTime %></strong></p>
										<a href="/patient/<%= key.patinetID %>" class="btn btn-primary view-inv-btn">Back to Dashboard</a>
                    <p></p>
                    <p>You will automatically redirect to Dashboard after 6 seconds</p>
									</div>
								</div>
							</div>
							<!-- /Success Card -->

				</div>

			</div>		
			<!-- /Page Content -->


      <footer class="footer">
        <!-- Footer Bottom -->
        <div class="footer-bottom">
          <div class="container-fluid">
            <!-- Copyright -->
            <div class="copyright">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="copyright-text">
                    <p class="mb-0"><a href="">MediMate</a></p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <!-- Copyright Menu -->
                  <div class="copyright-menu">
                    <ul class="policy-menu">
                      <li><a href="">Terms and Conditions</a></li>
                      <li><a href="">Policy</a></li>
                    </ul>
                  </div>
                  <!-- /Copyright Menu -->
                </div>
              </div>
            </div>
            <!-- /Copyright -->
          </div>
        </div>
        <!-- /Footer Bottom -->
      </footer>
      <div id="docID" style="display: none"><%= key.docID %></div>
      <div id="userID" style="display: none"><%= key.patinetID %></div>
      <% } %>

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Custom JS -->
    <script src="/assets/js/script.js"></script>
  </body>

</html>

