<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Patient Dashboard</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />

        <!-- Feathericon CSS -->
        <link rel="stylesheet" href="/assets/css/feathericon.min.css" />

        <link rel="stylesheet" href="/assets/plugins/morris/morris.css" />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="/assets/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css" />
    
    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/styles/Patient/patientDashboard.css" />
    
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <% for(const key of currentPatient)  { %>

      <!-- Header -->
      <header class="header" id="header">
        <nav class="navbar navbar-expand-lg header-nav">
          <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
              <span class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </a>
            <a href="" class="navbar-brand logo">
              <img src="/assets/img/logo.png" class="img-fluid" alt="Logo" />
            </a>
          </div>
          <div class="main-menu-wrapper">
            <div class="menu-header">
              <a href="index-2.html" class="menu-logo">
                <img src="/assets/img/logo.png" class="img-fluid" alt="Logo" />
              </a>
              <a id="menu_close" class="menu-close" href="javascript:void(0);">
                <i class="fas fa-times"></i>
              </a>
            </div>
            <ul class="main-nav">
              <li class="login-link">
                <a href="login.html">Login / Signup</a>
              </li>
            </ul>
          </div>
          <ul class="nav header-navbar-rht">
            <li class="nav-item contact-item">
              
            </li>

            <!-- User Menu -->
            <li class="nav-item dropdown has-arrow logged-item">
              <a
                href="#"
                class="dropdown-toggle nav-link"
                data-toggle="dropdown"
              >
                <span class="user-img">
                  <img
                    class="rounded-circle"
                    src="<%= key.profilePicture %>"
                    width="31"
                    alt="<%= key.name %>"
                  />
                </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="user-header">
                  <div class="avatar avatar-sm">
                    <img
                      src="<%= key.profilePicture %>"
                      alt="User Image"
                      class="avatar-img rounded-circle"
                    />
                  </div>
                  <div class="user-text">
                    <h6><%= key.name %></h6>
                    <p class="text-muted mb-0">Patient</p>
                  </div>
                </div>
                <a class="dropdown-item" href="">Dashboard</a
                >
                <a class="dropdown-item" href="/patient/profile/<%= key.userID %>"
                  >Profile Settings</a
                >
                <a class="dropdown-item" href="/login">Logout</a>
              </div>
            </li>
            <!-- /User Menu -->
          </ul>

          <div id="progress-bar"></div>
        </nav>
      </header>
      <!-- /Header -->

      

      <!-- Page Content -->
      <div class="content">
        <div class="container-fluid">

          <div class="row">
            <!-- Profile Sidebar -->
            <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
              <div class="profile-sidebar">
                <div class="widget-profile pro-widget-content">
                  <div class="profile-info-widget">
                    <a href="" class="booking-doc-img">
                      <img id="patientAvatar"
                        src="<%= key.profilePicture %>"
                        alt="User Image"
                      />
                    </a>
                    <div class="profile-det-info">
                      <h3><%= key.name %></h3>
                      <h6><%= key.email %></h6>
                      <div class="patient-details">

                        <% if(DOB) { %>
                        <h5>
                          <i class="fas fa-birthday-cake"></i> <%= key.personalDetails.DOB %> , <%= key.personalDetails.Age %> Yrs
                        </h5>
                        <% } %>

                        <% if(address) { %>
                        <h5 class="mb-0"> 
                          <i class="fas fa-map-marker-alt"></i> <%= key.address.addressFull %>  
                        </h5>
                        <% } %>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="dashboard-widget">
                  <nav class="dashboard-menu">
                    <ul>
                      <li class="active">
                        <a href="/patient/<%= key.userID %>">
                          <i class="fas fa-columns"></i>
                          <span>Dashboard</span>
                        </a>
                      </li>
                      <li>
                        <a href="/patient/appointment/<%= key.userID %>">
                          <i class="fas fa-columns"></i>
                          <span>Appointment</span>
                        </a>
                      </li>
                      <li>
                        <a href="/patient/favorites/<%= key.userID %>">
                          <i class="fas fa-bookmark"></i>
                          <span>Favorites</span>
                        </a>
                      </li>
                      <li>
                        <a href="/patient/systemFeedbacks/<%= key.userID %>">
                          <i class="fas fa-comments"></i>
                          <span>System Feedback</span>
                        </a>
                      </li>
                      <li>
                        <a href="/patient/profile/<%= key.userID %>">
                          <i class="fas fa-user-cog"></i>
                          <span>Profile Settings</span>
                        </a>
                      </li>
                      <li>
                        <a href="/patient/changePassword/<%= key.userID %>">
                          <i class="fas fa-lock"></i>
                          <span>Change Password</span>
                        </a>
                      </li>
                      <li>
                        <a href="/login">
                          <i class="fas fa-sign-out-alt"></i>
                          <span>Logout</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <!-- /Profile Sidebar -->

            <div class="col-md-7 col-lg-8 col-xl-9">
              <!--Tiles -->
              <div class="row">
                <div class="col-xl-3 col-sm-6 col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="dash-widget-header">
                       
                        <div class="dash-count2">
                          <img src="/image/PatientDashboard/healthdetails.png" class="img-fluid" alt="HDetails" id="HDetails"/>

                            <div class="mainHDetails">

                            <% if(bloodPressure) { %>
                              <h3><%= key.personalDetails.bloodPressure %> <span id="abbrevation">mmHg</span></h3>
                              <% } else { %>
                              <h6><a href="/patient/profile/<%= key.userID %>">Add Blood Presure</a></h6>
                            <% } %>

                            <% if(bmi) { %>
                              <h6 class="text-muted">BMI : <%= userBMI %></h6>
                              <% } else { %>
                                <h6 class="text-muted"><a href="/patient/profile/<%= key.userID %>">Add BMI</a></h6>
                            <% } %>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="dash-widget-header">
                        <span class="dash-widget-icon text-success">
                        </span>
                        <div class="dash-count">
                          <img src="/image/PatientDashboard/doctor.png" class="img-fluid" alt="totalDoctors" id="totalDoctors"/>
                          <h3><%= totalDoctors %></h3>
                        </div>
                      </div>
                      <div class="dash-widget-info">
                        <h6 class="text-muted">Doctors</h6>
                        <div class="progress progress-sm">
                          <div class="progress-bar bg-success w-50"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="dash-widget-header">
                        <span class="dash-widget-icon text-danger border-danger">
                        </span>
                        <div class="dash-count">
                          <img src="/image/PatientDashboard/appointments.png" class="img-fluid" alt="totalAppointments" id="totalAppointments"/>
                          <h3><%= totalAppointmentsCount %></h3>
                        </div>
                      </div>
                      <div class="dash-widget-info">
                        <h6 class="text-muted">Appointment</h6>
                        <div class="progress progress-sm">
                          <div class="progress-bar bg-danger w-50"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="dash-widget-header">
                        <span class="dash-widget-icon text-warning border-warning">
                        </span>
                        <div class="dash-count">
                          <img src="/image/PatientDashboard/review.png" class="img-fluid" alt="totalReview" id="totalReview"/>
                          <h3><%= totalReviews %></h3>
                        </div>
                      </div>
                      <div class="dash-widget-info">
                        <h6 class="text-muted">Reviews</h6>
                        <div class="progress progress-sm">
                          <div class="progress-bar bg-warning w-50"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--/Tiles -->

              <div class="card">
                <div class="card-body pt-0">
                  <!-- Tab Menu -->
                  <nav class="user-tabs mb-4">
                    <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          href="#pat_appointments"
                          data-toggle="tab"
                          >Appointments</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="#pat_reviews"
                          data-toggle="tab"
                          >Reviews</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="#pat_medical_records"
                          data-toggle="tab"
                          ><span class="med-records">Feedbacks</span></a
                        >
                      </li>
                    </ul>
                  </nav>
                  <!-- /Tab Menu -->

                  <!-- Tab Content -->
                  <div class="tab-content pt-0">
                    <!-- Appointment Tab -->
                    <div
                      id="pat_appointments"
                      class="tab-pane fade show active"
                    >
                      <div class="card card-table mb-0">
                        <div class="card-body">
                          <div class="table-responsive">

                            <% if(totalAppointments.length > 0) { %>

                            <table class="table table-hover table-center mb-0">
                              <thead>
                                <tr>
                                  <th>Doctor</th>
                                  <th>Appt Date</th>
                                  <th>Booking Date</th>
                                  <th>Status</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>

                                <% for(const oneAppointment of totalAppointments)  { %>

                                <tr>
                                  <td>
                                    <h2 class="table-avatar">
                                      <a
                                        href="/patient/view/<%= oneAppointment.patinetID %>?docID=<%= oneAppointment.docID %>"
                                        class="avatar avatar-sm mr-2"
                                      >
                                        <img
                                          class="avatar-img rounded-circle"
                                          src="<%= oneAppointment.doctorDP %>"
                                          alt="User Image"
                                        />
                                      </a>
                                      <a href="/patient/view/<%= oneAppointment.patinetID %>?docID=<%= oneAppointment.docID %>"
                                        >Dr. <%= oneAppointment.doctorName %> <span><%= oneAppointment.doctorSpeciality %></span></a
                                      >
                                    </h2>
                                  </td>
                                  <td>
                                    <%= oneAppointment.appoitmentDate %>
                                    <span class="d-block text-info"
                                      ><%= oneAppointment.appoitmentTime %></span
                                    >
                                  </td>

                                  <td><%= oneAppointment.applyDate %>
                                    <span class="d-block text-info"
                                    ><%= oneAppointment.applyTime %></span
                                  >
                                  </td>
                                  <td>

                                    <% if(oneAppointment.status === 'Pending') { %>
                                    <span class="badge badge-pill bg-warning"><%= oneAppointment.status %></span>
                                    <% } %>

                                    <% if(oneAppointment.status === 'Rejected') { %>
                                      <span class="badge badge-pill bg-danger"><%= oneAppointment.status %></span>
                                      <% } %>

                                    <% if(oneAppointment.status === 'Success') { %>
                                      <span class="badge badge-pill bg-success"><%= oneAppointment.status %></span>
                                      <% } %>
  

                                  </td>
                                  <td class="text-right">
                                    <div class="table-action">
                                      <a
                                        href="javascript:void(0);"
                                        class="btn btn-sm bg-info-light"
                                      >
                                        <i class="far fa-eye"></i> View
                                      </a>
                                    </div>
                                  </td>
                                </tr>

                                <% } %>

                              </tbody>
                            </table>
                            <% } else { %>

                              <a href="/patient/appointment/<%= key.userID %>">
                                <div class="noAppointments">

                                  <img src="/image/PatientDashboard/add.png" alt="addApointments" id="addApointments"/>
                                  <h4 id="noAppointments">Add Appointments</h4>

                                </div>
                              </a>
                              <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Appointment Tab -->

                    <!-- Prescription Tab -->
                    <div class="tab-pane fade" id="pat_reviews">
                      <div class="card card-table mb-0">
                        <div class="card-body">
                          <div class="table-responsive">

                            <% if(totalReviewsList.length > 0) { %>

                            <table class="table table-hover table-center mb-0">
                              <thead>
                                <tr>
                                  <th>Reviewd Date</th>
                                  <th>Comment</th>
                                  <th>Review for</th>
                                
                                </tr>
                              </thead>
                              <tbody>

                                <% for(const oneReview of totalReviewsList)  { %>

                                <tr>
                                  <td><%= oneReview.date %></td>
                                  <td><%= oneReview.comment %></td>
                                  <td>
                                    <h2 class="table-avatar">
                                      <a
                                        href="/patient/view/<%= oneReview.patientID %>?docID=<%= oneReview.docID %>"
                                        class="avatar avatar-sm mr-2"
                                      >
                                        <img
                                          class="avatar-img rounded-circle"
                                          src="<%= oneReview.doctorProfilePicture %>"
                                          alt="User Image"
                                        />
                                      </a>
                                      <a href="/patient/view/<%= oneReview.patientID %>?docID=<%= oneReview.docID %>"
                                        >Dr. <%= oneReview.doctorname %> <span><%= oneReview.doctorSpecialization %></span></a
                                      >
                                    </h2>
                                  </td>
                                </tr>

                              <% } %>
                              </tbody>
                            </table>

                            <% } else { %>

                              <a href="/patient/appointment/<%= key.userID %>">
                                <div class="noAppointments">

                                  <img src="/image/PatientDashboard/star.png" alt="addApointments" id="addApointments"/>
                                  <h4 id="noAppointments">Add Reviews</h4>

                                </div>
                              </a>
                              <% } %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Prescription Tab -->

                    <!-- Medical Records Tab -->
                    <div id="pat_medical_records" class="tab-pane fade">
                      <div class="card card-table mb-0">
                        <div class="card-body">
                          <div class="table-responsive">

                            <% if(totalFeedbacks.length > 0) { %>

                            <table class="table table-hover table-center mb-0">
                              <thead>
                                <tr>
                                  <th>Date</th>
                                  <th>Title</th>
                                  <th>Feedback</th>
                                  <th>Created</th>
                                </tr>
                              </thead>
                              <tbody>

                                <% for(const oneFeedback of totalFeedbacks)  { %>
                                <tr>
                                  <td><%= oneFeedback.date %></td>
                                  <td><%= oneFeedback.title %></td>
                                  <td><%= oneFeedback.comment %></td>
                                  <td>
                                    <h2 class="table-avatar">
                                      <a
                                    
                                        class="avatar avatar-sm mr-2"
                                      >
                                        <img
                                          class="avatar-img rounded-circle"
                                          src="<%= oneFeedback.profilePicture %>"
                                          alt="User Image"
                                        />
                                      </a>
                                      <a href="doctor-profile.html"
                                        ><%= oneFeedback.authorname %></a
                                      >
                                    </h2>
                                  </td>
                                 
                                </tr>
                                <% } %>
                                
                              </tbody>
                            </table>

                            <% } else { %>

                              <a href="/patient/systemFeedbacks/<%= key.userID %>">
                                <div class="noAppointments">

                                  <img src="/image/PatientDashboard/feedback.png" alt="addApointments" id="addApointments"/>
                                  <h4 id="noAppointments">Add Feedback</h4>

                                </div>
                              </a>
                              <% } %>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- /Medical Records Tab -->

                  </div>
                  <!-- Tab Content -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->

      <footer class="footer">
        <!-- Footer Bottom -->
        <div class="footer-bottom">
          <div class="container-fluid">
            <!-- Copyright -->
            <div class="copyright">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="copyright-text">
                    <p class="mb-0"><a href="">MediMate</a></p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <!-- Copyright Menu -->
                  <div class="copyright-menu">
                    <ul class="policy-menu">
                      <li><a href="">Terms and Conditions</a></li>
                      <li><a href="">Policy</a></li>
                    </ul>
                  </div>
                  <!-- /Copyright Menu -->
                </div>
              </div>
            </div>
            <!-- /Copyright -->
          </div>
        </div>
        <!-- /Footer Bottom -->
      </footer>
    <% } %>

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/assets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Custom JS -->
    <script src="/assets/js/script.js"></script>
  </body>

</html>
